.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.button i {
    margin-right: 5px;
}

.button.add-to-favorites {
    background-color: #28a745;
}

.button.show-favorites {
    background-color: #17a2b8;
}

.remove-from-favorites {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
